.image-container {
	transition: transform 0.2s;
	text-decoration: none !important;
}
.image-container a {
	text-decoration: none;
}
.image-container:hover {
	transform: scale(0.9);
	text-decoration: none !important;
}

.image-container:hover .overlay {
	opacity: 0.2;
}
.card-body {
	color: black;
}
.card {
	height: 31.5em;
}
