.auth {
    margin: 11rem auto;
    width: 95%;
    max-width: 30rem;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .auth h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 42px;
  }
  
  .control {
    margin-bottom: 0.5rem;
  }
  
  .control label {
    display: block;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: start;
  }
  
  .control input {
    font: inherit;
    background-color: #f6f6f6;
    color: #000000;
    border-radius: 3px;
    border: 1px solid white;
    width: 100%;
    text-align: left;
    padding: 0.25rem;
  }
  .welcome {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 42px;
    font-weight: 700  ;
  }
  .actions {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .actions button {
    cursor: pointer;
    font: inherit;
    color: white;
    background-color: #1a1a1a;
    border: 1px solid #1a1a1a;
    border-radius: 4px;
    padding: 0.5rem 2.5rem;
  }
  
  .actions button:hover {
    background-color: #000000;
    border-color: #000000;
  }
  
  .actions .toggle {
    margin-top: 1rem;
    background-color: transparent;
    color: #ff0000;
    border: none;
    padding: 0.15rem 1.5rem;
  }
  
  .actions .toggle:hover {
    background-color: transparent;
    color: #000000;
  }

  